/* navbar.module.css */


:root {
  --primary-color: #2F0777;
  --text-color: white; 
  --secondary-color: #353333;
}

.navbar {
  background-color: #2F0777;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
}

img, svg {
  width: 5%;
  margin-right: 5%;
}

.navName{
  display: flex;
  color: #fff;
}

.linkNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #fff !important;
  transition: color 0.3s ease;
}

.contactNav{
  background-color: #fff;
  border-radius: 16px;
}

.linkNav.active {
  color: #df2929;
}

.dropdown-menu {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-item {
  transition: color 0.3s ease;
}

.navbar:hover {
  background-color: var(--secondary-color);
  
}

.linkNav:hover {
  color: white;
  text-decoration: underline; 
}

.linkNav.active:hover {
  color: #e41a1a;
}

.linkNav:hover {
  transition: 0.4s;
  transform: translateY(-5px);
  cursor: url('https://cdn.custom-cursor.com/db/pointer/32/Bongo_Cat_Pointer.png'), pointer;
}